<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="ValidTypeNames" value="development,testing,production" />
	<add key="CurrentTypeName" value="testing" />
	
	<add key="StringBuffer" value="StringBuffer" />
	<add key="LogOutputPath" value="./Log.txt" />
	<add key="DefaultUserProfileImagePath" value="../../Profiles/DefaultProfile.png" />
	  
	<add key="development.DatabaseName" value="pageant_voting_system" />
	<add key="development.DatabaseHostName" value="127.0.0.1" />
	<add key="development.DatabasePortNumber" value="3306" />
	<add key="development.DatabaseUserName" value="Admin" />
    <add key="development.DatabaseSetupFilePath" value="../../Databases/setup_development.sql" />
	<add key="development.IsLoggingEnabled" value="false" />
	  
	<add key="testing.DatabaseName" value="pageant_voting_system" />
	<add key="testing.DatabaseHostName" value="127.0.0.1" />
	<add key="testing.DatabasePortNumber" value="3306" />
	<add key="testing.DatabaseUserName" value="Admin" />
	<add key="testing.DatabaseSetupFilePath" value="../../Databases/setup_testing.sql" />
	<add key="testing.IsLoggingEnabled" value="false" />

	<add key="production.DatabaseName" value="pageant_voting_system" />
	<add key="production.DatabaseHostName" value="127.0.0.1" />
	<add key="production.DatabasePortNumber" value="3306" />
	<add key="production.DatabaseUserName" value="Admin" />
	<add key="production.DatabaseSetupFilePath" value="../../Databases/setup_production.sql" />
	<add key="production.IsLoggingEnabled" value="false" />
  </appSettings>
</configuration>