<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Diagnostics.DiagnosticSource" PublicKeyToken="cc7b13ffcd2ddd51" Culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
  <appSettings>
	<add key="ValidTypeNames" value="development,testing,production" />
	<add key="CurrentTypeName" value="development" />
	
	<add key="StringBuffer" value="StringBuffer" />
	<add key="LogOutputPath" value="./Log.txt" />
	<add key="DefaultUserProfileImagePath" value="../../Profiles/DefaultProfile.png" />
	  
	<add key="development.DatabaseName" value="pageant_voting_system" />
	<add key="development.DatabaseHostName" value="127.0.0.1" />
	<add key="development.DatabasePortNumber" value="3306" />
	<add key="development.DatabaseUserName" value="Admin" />
    <add key="development.DatabaseSetupFilePath" value="../../Databases/setup_development.sql" />
	<add key="development.IsLoggingEnabled" value="true" />
	  
	<add key="testing.DatabaseName" value="pageant_voting_system" />
	<add key="testing.DatabaseHostName" value="127.0.0.1" />
	<add key="testing.DatabasePortNumber" value="3306" />
	<add key="testing.DatabaseUserName" value="Admin" />
	<add key="testing.DatabaseSetupFilePath" value="../../Databases/setup_testing.sql" />
	<add key="testing.IsLoggingEnabled" value="true" />

	<add key="production.DatabaseName" value="pageant_voting_system" />
	<add key="production.DatabaseHostName" value="127.0.0.1" />
	<add key="production.DatabasePortNumber" value="3306" />
	<add key="production.DatabaseUserName" value="Guest" />
	<add key="production.DatabaseSetupFilePath" value="../../Databases/setup_production.sql" />
	<add key="production.IsLoggingEnabled" value="true" />
  </appSettings>
</configuration>
